/*
 * Using functions in SASS
 */ 

$color: olive;

@mixin border-radius($radius: 5px){
	-mox-border-radius: $radius;
	-webkit-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

h1{
	color: $color;
	background-color: grayscale(invert($color));
}
h2{
	color: lighten($color, 20%);
}

h3{
	color: lighten($color, 30%);
}
h4{
	color: lighten($color, 40%);
}

.mypara{
	@include border-radius;
	border-color: hsl(hue($color), 45%, 60%);
	border-width: 2px;
	border-style: solid;
	padding: 10px;
}